<div class="form-group">
{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

        {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

        {{ form_label(form.stock) }}
    {{ form_widget(form.stock) }}

        {{ form_label(form.shop) }}
    {{ form_widget(form.shop) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>