{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Stock }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-primary" role="button" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button"  href="{{ path('product_new') }}">Create new</a>
    <a class="btn btn-primary" role="button"  href="{{ path('shop_index') }}">List of Shops</a>

{% endblock %}
