{% extends 'base.html.twig' %}

{% block title %}Products {% endblock %}

{% block body %}
    <h1>Products </h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>description</th>
                <th>stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-primary" role="button" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button"  href="{{ path('product_new') }}">Create new</a>
    {# <a class="btn btn-primary" role="button"  href="{{ path('shop_index') }}">List of Shops</a>
    <a class="btn btn-primary" role="button"  href="{{ path('admin') }}">Administration</a> #}

{% endblock %}
